.App {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;

  display: flex;
  flex-direction: column;
  align-items: center;

 
  min-height: 100vh;
  min-height: 100dvh; 

  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
  flex: 1;

  width: 100%;
}

#payment-form {
  width: 30vw;
  min-width: 500px;

  align-self: center;

  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1),
    0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);

  border-radius: 7px;
  padding: 40px;
  margin-bottom: 30px;
}

#payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}

#payment-element {
  margin-bottom: 24px;
}

.button {
  background: #0055DE;
  font-family: Arial, sans-serif;
  color: #fff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

.button:hover {
  filter: contrast(115%);
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}

.status-title {
  text-align: center;
}

#payment-status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;

  width: 30vw;
  min-width: 500px;
  min-height: 380px;

  align-self: center;

  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1),
    0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);

  border-radius: 7px;
  padding: 40px;

  opacity: 0;
  animation: fadeInAnimation 1s ease forwards;

  margin: auto;
}


@media (max-width: 1024px) {
  #payment-form,
  #payment-status {
    width: 60vw;
    min-width: unset;
  }
}

@media (max-width: 600px) {
  #payment-form,
  #payment-status {
    width: 90vw;
    min-width: unset;
    padding: 20px;
  }

  .App {
    padding-bottom: 20px;
  }
}

#stripe-badge-iframe,
[id^="stripe-badge"],
iframe[src*="stripe"] {
  display: none !important;
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}